html{
  scroll-snap-type: y mandatory; /*Scroll passando o video*/
}

.App {
  background-color: black;
  height: 100vh;
  display: grid; /*Funciona como grid e centraliza os itens*/
  place-items: center;
}

.app__videos {
  height: 100vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: scroll; /*Quando ultrapassar o tamanho chama o scroll*/
  scrollbar-width: none; /*Remove a barra de scroll*/

  scroll-snap-type: y mandatory;
  position: relative;

}

/* Esconde a scrollbar no chrome, safari e opera */
.app__videos::-webkit-scrollbar{
  display: none;
}
/* Esconde a scrollbar no IE, edge e firefox*/
.app__videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}